.main_header-bottom {
  max-height: 40px;
  background-color: #5d5d5d;
  padding: 0 0 0 10px;
}
.main_header-bottom-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
}

@media screen and (max-width: 768px) {
  .main_header-bottom-wrapper {
    display: none;
  }
}
