@use "../../abstracts/variables";

.header_left_offers {
  background-color: variables.$main-color;
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  width: 400px;
  border-left: 1px solid variables.$main-color;
}
.header_left_offers a {
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

.header_left_offers img {
  vertical-align: middle;
  margin: 0 3px;
}
