@use "../abstracts/variables";

.default_btn {
  flex: 0 0 auto;
  cursor: pointer;
  background-color: variables.$main-color;
  border: 0;
  color: #fff;
  font-weight: 600;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
  height: 40px;
  // width: 200px;
  padding: 0 2rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 200px;

  &:hover {
    background-color: variables.$main-color-hover;
    color: #fff;
  }

  &.disabled {
    background-color: #c6c6c6;
    pointer-events: none;
  }

  a {
    color: #fff !important;
  }
}

.input_btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
