.category_search {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #f0f2f3;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
  margin-bottom: 20px;
}

.category_search .form-control {
  border-radius: 25px;
  height: 40px;
}
