@use "../abstracts/variables";

.footer {
  background-color: #f0f2f3;
  // height: 50vh;
  z-index: 1;
  // position: absolute;
  width: 100vw;
  bottom: 0;
  // position: relative;
}
.footer-middle a,
.footer-middle i {
  color: #515151;
}
.footer-middle a:hover {
  color: variables.$main-color;
}

.footer ul li {
  display: inline-block !important;
  margin: 0 10px !important;
}

.footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.footer-bottom ul li {
  margin: 0;
}
.footer-bottom ul li a {
  padding-right: 20px;
  color: #515151;
}
.footer-bottom ul li a:hover {
  color: variables.$main-color;
}

.footer-copyright p {
  padding-bottom: 10px;
}
.back-to-top {
  z-index: 10;
  position: fixed;
  bottom: -100px;
  right: 30px;
  transition: 0.5s;
  opacity: 0;
}
.back-to-top.show {
  opacity: 0.7;
  bottom: 20px;
}
.back-to-top:hover {
  opacity: 1;
}

.back-to-top span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: variables.$main-color;
  color: #fff;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.back-to-top:hover span {
  background-color: variables.$main-color-hover;
  color: #fff;
}
.footer-widget {
  padding-bottom: 50px;
}
.widget-title {
  margin-bottom: 20px;
  /* font-weight: 700; */
}
.footer-logo {
  width: 180px;
}
.footer-widget ul {
  margin: 0;
}
.footer-widget ul li + li {
  margin: 10px 0 0;
}
.footer-widget ul li a {
  position: relative;
  display: block;
  -webkit-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  transform: translateX(-15px);
}
// .footer-widget ul li a i {
//   font-weight: 400;
// }
.footer-widget ul li a:hover {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.footer-widget ul li a:hover::before {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.footer-widget .social-media li {
  display: inline-block;
  margin-top: 0;
}
.footer-widget .social-media li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-widget .social-media li a::before {
  display: none;
}
.footer-widget .social-media li a i {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-widget .social-media li a:hover i {
  color: #fff;
}
.footer-offer {
  margin-top: 15px;
}
.footer-offer p {
  /* font-weight: 600; */
  // font-size: 13px;
  margin-bottom: 15px;
}
.footer-offer .btn-custom,
.footer-offer .btn-custom:hover {
  color: #fff;
}

/* Dark Footer */
.andro_footer.andro_footer-dark {
  background-color: #18181d;
}
.footer.footer-dark p,
.footer.footer-dark .footer-widget ul li a::before,
.footer.footer-dark .footer-bottom ul li a:hover,
.footer.footer-dark .footer-widget ul li a:hover,
.footer.footer-dark .footer-bottom .footer-copyright > a,
.footer.footer-dark .footer-widget .widget-title {
  color: #fff;
}

.footer.footer-dark .footer-bottom ul li a,
.footer.footer-dark .footer-widget ul li a {
  color: #b7b7b7;
}
.footer.footer-dark .footer-bottom ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.back-to-top svg {
  animation: pointy 1.5s infinite;
}

@keyframes pointy {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -10px);
  }
  30% {
    transform: translate(0px, -5px);
  }
  45% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
