.header-nav {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: #5d5d5d;
  align-items: center;
  flex-direction: row;
  height: initial;
  width: initial;
}

.nav_item {
  margin-top: 0.25rem;
  .category_icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;

    &.svg {
      // https://codepen.io/sosuke/pen/Pjoqqp to get the filter
      filter: invert(100%) sepia(32%) saturate(5117%) hue-rotate(316deg) brightness(110%)
        contrast(70%);
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
  }

  a {
    position: relative;
    padding: 0 10px;
    display: block;
    width: 100%;
    color: #fff;

    &:hover {
      color: #50bd4d;

      .icon {
        color: #fff;

        &:hover {
          color: #50bd4d;
        }
      }
    }
  }
}

.sub-menu .nav_item {
  a {
    color: #50bd4d;

    &:hover {
      .icon {
        color: #424242;

        &:hover {
          color: #50bd4d;
        }
      }
    }
  }
}

.sub_nav .header-nav {
  background: #424242;
  position: relative;
  top: 100%;
  z-index: 2;

  .nav_item {
    margin: 5px 0;
  }
}

//////////////////////////////////////////////////////////////////////////

.mobilemenu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #5d5d5d57;
}

.mobile_nav {
  width: 50vw;
  background-color: #5d5d5d;
  height: 100vh;
  padding: 10px;
}

.main_header-bottom-wrapper {
  position: relative;
}
