.header-nav {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  background-color: #5d5d5d;

  align-items: center;
  flex-direction: row;
  height: initial;
  width: initial;
  // overflow: hidden;
}

.header-nav .menu-item {
  margin-top: 0;
}

.header-nav > .menu-item > a {
  position: relative;
  padding: 0 10px;
  color: #fff;
  display: block;
}

.header-nav .menu-item a {
  width: 100%;
}

.header-nav > .menu-item .category_icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
.header-nav > .menu-item .category_icon.svg {
  // https://codepen.io/sosuke/pen/Pjoqqp to get the filter
  filter: invert(100%) sepia(32%) saturate(5117%) hue-rotate(316deg) brightness(110%) contrast(70%);
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.header-nav > .menu-item > a:hover {
  color: #50bd4d;
}
.header-nav > .menu-item > a > .icon {
  margin-left: 5px;
}
.header-nav > .menu-item > a:hover > .icon {
  color: #fff;
}
.header-nav > .menu-item > a:hover > .icon:hover {
  color: #50bd4d;
}

.header-nav > .menu-item:first-child > a {
  padding-left: 10px;
}

.header-nav .menu-item-has-children {
  position: relative;
}

.header-nav .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  z-index: 998;
  min-width: 230px;
  border: 1px solid #f0f2f3;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);

  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

.mobilemenu-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #5d5d5d57;
}

.mobile_nav {
  width: 50vw;
  background-color: #5d5d5d;
  height: 100vh;
  padding: 10px;
}
