.pagination-loader {
  position: fixed;
  z-index: 4;
  height: 100vh;
  width: 100vw;
  background: rgba(#222, 0.5);
  top: 0;
}

.pagination-loader svg {
  margin: "auto";
  background: "#fff";
  display: "block";
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
