.product_card {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #f0f2f3;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 30px;
  margin-bottom: 10px;
}

.product_card--thumb {
  margin: 0 0 20px;
  overflow: hidden;

  img {
    transition: 0.3s;
    max-height: 200px;
    margin: auto;
  }
  &:hover img {
    transform: scale(1.1) rotate(3deg);
  }
}

.category_badge {
  display: block;
  width: 100%;
  height: 30px;
}
.category_badge .badge {
  background-color: #454545;
  padding: 10px;
  color: white;
  float: right;
  clear: both;
}
.featured-badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa80a;
  color: #fff;
  border-radius: 8px 0 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  padding: 3px 12px;
}
.featured-badge i {
  margin-right: 5px;
  display: inline-block;
}
.sale-badge {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #5d5d5d;
  color: #fff;
  line-height: 1.7;
  padding: 3px 12px;
  border-radius: 0 0 8px 8px;
}

.product_card--title {
  margin: 0 0 15px;
  word-break: break-word;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: #18181d;
    &:hover {
      color: #40a13d;
    }
  }
}

.product_card--price span {
  display: block;
}
.product_card--price span:first-child {
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  color: #18181d;
  font-weight: 700;
}
.product_card--price span + span {
  font-family: "Montserrat", sans-serif;
  color: #50bd4d;
  font-weight: 700;
  text-decoration: line-through;
}

.product_card--desc {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product_card--rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_card--rating span {
  font-weight: 600;
}
.product_card .andro_rating {
  margin-bottom: 0;
}

.product_card--footer {
  border-top: 0;
  padding: 0;
  margin: 20px -20px -20px -20px;
  margin-top: 20px;
  border-top: 1px solid #f0f2f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_card--buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product_card--buttons a {
  flex: 1;
  box-shadow: none;
  border-radius: 0;
}
