/* 6.3.1 Products (List View) */
.andro_product.andro_product-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.andro_product.andro_product-list .andro_product-thumb {
  width: 125px;
  margin-right: 15px;
}
.andro_product.andro_product-list .andro_product-body {
  flex: 1;
}
.andro_product.andro_product-list .andro_product-footer {
  padding-top: 0;
  border-top: 0;
}
.andro_product.andro_product-list .andro_rating-wrapper {
  margin-bottom: 10px;
}
.andro_product.andro_product-list .andro_product-controls {
  justify-content: space-between;
}
.andro_product.andro_product-list.andro_product-has-buttons .andro_product-footer {
  width: calc(100% + 40px);
}
.andro_product.andro_product-list.andro_product-has-buttons .andro_product-footer {
  margin: 10px -20px -20px -20px;
}

/* 6.3.2 Products (Minimal View) */
.andro_product.andro_product-minimal {
  text-align: center;
}
.andro_product.andro_product-minimal .andro_product-title {
  margin-bottom: 10px;
  font-size: 16px;
}
.andro_product.andro_product-minimal .andro_product-footer {
  border: 0;
  padding-top: 0;
  margin-top: 5px;
  display: block;
  text-align: center;
}
.andro_product.andro_product-minimal .andro_product-price {
  margin: 15px 0;
}
.andro_product.andro_product-minimal .andro_product-price span {
  font-size: 14px;
  display: inline-block;
  line-height: 1.7;
}
.andro_product.andro_product-minimal .andro_product-price span + span {
  margin-left: 5px;
  font-size: 13px;
}
.andro_product.andro_product-minimal .andro_rating-wrapper {
  justify-content: center;
}
.andro_product.andro_product-minimal.andro_product-has-buttons
  .andro_product-footer
  .andro_product-buttons {
  margin-top: 20px;
}
