.special_offer--inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #95bd30;
    border-radius: 6px;
  .card-header {
    background-color: #95bd30;
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid #95bd30;
}
}

.special_offer--inner .slick-slider {
  overflow: hidden;
}

.special_offer--thumb {
  position: relative;
  height: 150px;
}

.special_offer--img {
  max-height: 10%;
}
