.custom-primary {
  color: #50bd49;
}

.custom-secondary {
  color: #b682e1;
}

.twitter {
  background-color: rgb(44, 170, 225) !important;
  color: #fff;
}

.twitter:hover {
  background-color: #2caae1;
  color: #fff;
}

.facebook {
  background-color: rgb(59, 87, 157) !important;
  color: #fff;
}

.facebook:hover {
  background-color: #3b579d;
  color: #fff;
}

.google {
  background-color: rgb(220, 74, 56) !important;
  color: #fff;
}

.google:hover {
  background-color: #dc4a38;
  color: #fff;
}

.linkedin {
  background-color: rgb(1, 119, 181) !important;
  color: #fff;
}

.linkedin:hover {
  background-color: #0177b5;
  color: #fff;
}

.pinterest {
  background-color: rgb(204, 33, 39) !important;
  color: #fff;
}

.pinterest:hover {
  background-color: #cc2127;
  color: #fff;
}

.youtube {
  background-color: rgb(229, 45, 39);
  color: #fff;
}

.youtube:hover {
  background-color: #e52d27;
  color: #fff;
}

.github {
  background-color: rgb(51, 51, 51) !important;
  color: #fff;
}

.github:hover {
  background-color: #333333 !important;
  color: #fff;
}

.behance {
  background-color: rgb(23, 105, 255) !important;
  color: #fff;
}

.behance:hover {
  background-color: #1769ff;
  color: #fff;
}

.dribbble {
  background-color: rgb(234, 76, 137) !important;
  color: #fff;
}

.dribbble:hover {
  background-color: #ea4c89;
  color: #fff;
}

.reddit {
  background-color: rgb(255, 69, 0) !important;
  color: #fff;
}

.reddit:hover {
  background-color: #ff4500;
  color: #fff;
}

.light-bg {
  background-color: #f0f2f3;
}

.primary-bg {
  background-color: #50bd4d;
}

.secondary-bg {
  background-color: #5d5d5d;
}

@-webkit-keyframes BounceUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes BounceUpDown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes BounceDownUp {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes BounceDownUp {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes pointy {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -10px);
  }
  30% {
    transform: translate(0px, -5px);
  }
  45% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes pointy {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -10px);
  }
  30% {
    transform: translate(0px, -5px);
  }
  45% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
html {
  overflow-x: hidden;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: #86858c;
  overflow-x: hidden;
}

hr {
  margin: 30px 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: "Montserrat", serif;
  font-weight: 700;
  line-height: 1.2;
  color: #18181d;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
  line-height: 1.4;
}

h4 {
  font-size: 26px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

h6 {
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
}

p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #838383;
}

a {
  color: #50bd4d;
  text-decoration: none;
  transition: 0.3s;
}

a:hover,
a:focus {
  color: #40a13d;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
}

b,
strong {
  font-weight: 700;
}

label {
  margin-bottom: 10px;
  font-weight: 600;
  color: #18181d;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  /* margin-bottom: 20px; */
}

ul li,
ol li {
  /* margin: 10px 0 0; */
  margin: 0;
  position: relative;
}

small {
  line-height: 1.7;
}

blockquote {
  background-color: #fff;
  position: relative;
  padding: 30px;
  margin: 20px 0;
  border-left: 3px solid #50bd49;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

blockquote p {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

textarea {
  resize: none;
}

table th,
table td {
  padding: 15px;
  vertical-align: middle;
  background-color: #fff;
}

table th {
  font-weight: 600;
  color: #18181d;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #f0f2f3;
}

table {
  width: 100%;
  margin-bottom: 30px;
}

table td {
  border: 1px solid #f0f2f3;
}

table img {
  width: 40px;
  border-radius: 0;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

.form-control::-moz-placeholder {
  color: #a5a5a5;
}

.form-control:-ms-input-placeholder {
  color: #a5a5a5;
}

.form-control::placeholder {
  color: #a5a5a5;
}

.form-control {
  /* height: 50px;
  padding: 8px 15px; */
  border-radius: 0;
  border: 1px solid #f0f2f3;
  border-radius: 25px;
  width: 100%;
  color: #6e6e6e;
  background-color: #fff;
  letter-spacing: 0.1px;
  font-size: 14px;
}

.form-control:focus {
  border: 1px solid #efefef;
  box-shadow: none;
}

.form-group {
  margin-bottom: 20px;
}

.nav-item {
  margin: 0;
}

.nav-link {
  padding: 10px 20px !important;
  background-color: #f0f2f3 !important;
  /* font-weight: 600; */
  margin-right: 10px !important;
  border-radius: 0 !important;
  color: #18181d !important;
  border-radius: 8px !important;
}

.nav-link.active {
  background-color: #50bd49 !important;
  color: #fff !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.opacity-0 {
  opacity: 0;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-100 {
  opacity: 1;
}

.dark-overlay {
  position: relative;
  z-index: 1;
}

.dark-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  transition: background-color 0.3s;
}

.dark-overlay.dark-overlay-2::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.imgs-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.imgs-wrapper img {
  position: absolute;
  max-width: 300px;
}

.imgs-wrapper img:nth-child(1) {
  top: 150px;
  max-width: 400px;
  left: -200px;
}

.imgs-wrapper img:nth-child(2) {
  right: -100px;
  bottom: 0;
}

.andro_single-img-wrapper {
  position: relative;
}

.andro_single-img-wrapper img {
  border-radius: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.border-0 {
  border: 0;
}

.bg-cover {
  background-size: cover;
}

.bg-parallax {
  background-attachment: fixed;
}

.bg-contain {
  background-size: contain;
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center;
}

.bg-left {
  background-position: left;
}

.bg-right {
  background-position: right;
}

.bg-top {
  background-position: top;
}

.bg-bottom {
  background-position: bottom;
}

.andro_sticky-section {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.section {
  position: relative;
  padding: 50px 0 80px 0;
}

.section.section-padding {
  padding: 50px 0 20px;
}

.andro_section-fw {
  padding: 0 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-lg-30 {
  margin-left: 30px;
}

.section.section-padding.category_section {
  margin-top: -50px;
  padding-top: 0;
}

.section-title .title {
  position: relative;
  margin: 0;
  font-size: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 3px solid #f0f2f3;
}

.section-title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #50bd4d;
}

.section-title.flex-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-title.flex-title .nav {
  margin-left: auto;
}

.section-title.flex-title .nav-item {
  margin: 0;
}

.section-title.flex-title .nav-item + .nav-item {
  margin-left: 10px;
}

.section-title.flex-title .nav-item .nav-link {
  margin: 0;
}

@media (max-width: 991px) {
  .section.section-padding.category_section {
    margin-top: 0;
    padding-top: 40px;
  }
  .section {
    padding: 40px 0;
  }
  .section.section-padding {
    padding: 40px 0 10px;
  }
  .andro_section-fw {
    padding: 0 15px;
  }
}
@media (max-width: 575px) {
  .section-title.flex-title .nav {
    width: 100%;
    margin: 20px 0 0;
  }
}
.andro_product {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #f0f2f3;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  margin-bottom: 30px;
}

.andro_product .andro_product-thumb {
  margin: 0 0 20px;
  overflow: hidden;
}

.andro_product .andro_product-thumb.thumb-sm {
  max-width: 200px;
  margin: 0 auto 20px;
}

.andro_product .andro_product-thumb img {
  transition: 0.3s;
  max-height: 200px;
  margin: auto;
}

.andro_product .andro_product-thumb:hover img {
  transform: scale(1.1) rotate(3deg);
}

.andro_product .andro_product-body h5 {
  margin: 0 0 15px;
  word-break: break-word;
}

.andro_product .andro_product-body .category_badge {
  display: block;
  width: 100%;
  height: 30px;
}

.andro_product .andro_product-body .category_badge .badge {
  background-color: #454545;
  padding: 10px;
  color: white;
  float: right;
  clear: both;
}

.andro_product .andro_product-body .andro_product-title a {
  color: #18181d;
}

.andro_product .andro_product-body .andro_product-title a:hover {
  color: #40a13d;
}

.andro_product .andro_badge-featured {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffa80a;
  color: #fff;
  border-radius: 8px 0 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 13px;
  padding: 3px 12px;
}

.andro_product .andro_badge-featured i {
  margin-right: 5px;
  display: inline-block;
}

.andro_product .andro_badge-sale {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: #5d5d5d;
  color: #fff;
  font-size: 13px;
  line-height: 1.7;
  padding: 3px 12px;
  border-radius: 0 0 8px 8px;
}

.andro_product .andro_rating-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.andro_product .andro_rating-wrapper span {
  font-weight: 600;
}

.andro_product .andro_product-footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #f0f2f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.andro_product-price span {
  display: block;
}

.andro_product-price span:first-child {
  font-size: 18px;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  color: #18181d;
  font-weight: 700;
}

.andro_product-price span + span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #50bd4d;
  font-weight: 700;
  text-decoration: line-through;
}

.andro_product.andro_product-has-controls .andro_product-body .andro_product-price {
  margin-bottom: 10px;
}

.andro_product.andro_product-has-controls .andro_product-body .andro_product-price span {
  display: inline-block;
}

.andro_product.andro_product-has-controls .andro_product-body .andro_product-price span:first-child {
  font-size: 16px;
}

.andro_product.andro_product-has-controls .andro_product-body .andro_product-price span + span {
  margin-left: 5px;
}

.andro_product.andro_product-has-buttons .andro_product-footer {
  border-top: 0;
  padding: 0;
  margin: 20px -20px -20px -20px;
}

.andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons {
  width: 100%;
  display: flex;
  /* display: block; */
  flex-wrap: wrap;
}

.andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons a {
  flex: 1;
  box-shadow: none;
}

.andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons a {
  border-radius: 0;
}

.andro_product-stock.instock {
  color: #58da58;
}

.andro_product-stock.outofstock {
  color: #f54978;
}

.andro_product .andro_rating {
  margin-bottom: 0;
}

.andro_product-controls {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.andro_product-controls a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #f0f2f3;
  text-align: center;
  line-height: 35px;
}

.andro_product-controls a svg {
  font-size: 20px;
  margin: auto;
  vertical-align: middle;
}

.andro_product-controls a:hover {
  background-color: #50bd4d;
  color: #fff;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
}

.andro_product.andro_product-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.andro_product.andro_product-list .andro_product-thumb {
  width: 125px;
  margin-right: 15px;
}

.andro_product.andro_product-list .andro_product-body {
  flex: 1;
}

.andro_product.andro_product-list .andro_product-footer {
  padding-top: 0;
  border-top: 0;
}

.andro_product.andro_product-list .andro_rating-wrapper {
  margin-bottom: 10px;
}

.andro_product.andro_product-list .andro_product-controls {
  justify-content: space-between;
}

.andro_product.andro_product-list.andro_product-has-buttons .andro_product-footer {
  width: calc(100% + 40px);
}

.andro_product.andro_product-list.andro_product-has-buttons .andro_product-footer {
  margin: 10px -20px -20px -20px;
}

.andro_product.andro_product-minimal {
  text-align: center;
}

.andro_product.andro_product-minimal .andro_product-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.andro_product.andro_product-minimal .andro_product-footer {
  border: 0;
  padding-top: 0;
  margin-top: 5px;
  display: block;
  text-align: center;
}

.andro_product.andro_product-minimal .andro_product-price {
  margin: 15px 0;
}

.andro_product.andro_product-minimal .andro_product-price span {
  font-size: 14px;
  display: inline-block;
  line-height: 1.7;
}

.andro_product.andro_product-minimal .andro_product-price span + span {
  margin-left: 5px;
  font-size: 13px;
}

.andro_product.andro_product-minimal .andro_rating-wrapper {
  justify-content: center;
}

.andro_product.andro_product-minimal.andro_product-has-buttons .andro_product-footer .andro_product-buttons {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .andro_product-additional-info .tab-content {
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .andro_product-atc-form .qty-outter,
.andro_product-atc-form .qty-outter .andro_btn-custom {
    display: block;
  }
  .andro_product-atc-form .qty-outter .andro_btn-custom + .qty {
    margin-left: 0;
    margin-top: 20px;
  }
  .qty input {
    width: 100%;
  }
  .andro_product.andro_product-list {
    display: block;
  }
  .andro_product.andro_product-list .andro_product-thumb {
    width: auto;
    margin-right: 0;
  }
  .andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons a {
    flex: 0 100%;
    width: 100%;
  }
  .andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons a:first-child {
    border-radius: 0;
  }
  .andro_product.andro_product-has-buttons .andro_product-footer .andro_product-buttons a + a {
    border-radius: 0 0 8px 8px;
  }
  .andro_product-additional-info .tab-content {
    padding: 20px;
  }
}
.pagination {
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 0;
}

.pagination .page-item {
  margin: 0;
}

.pagination .page-item:last-child .page-link,
.pagination .page-item:first-child .page-link,
.pagination .page-item .page-link {
  border-radius: 8px;
}

.pagination .page-link {
  color: #18181d;
  border: 0;
  background-color: #f0f2f3;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 20px;
  margin: 0 10px;
}

.pagination .page-item.active .page-link {
  background-color: #50bd49;
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  color: #50bd49;
  outline: none;
  box-shadow: none;
}

.load-more {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid #f0f2f3;
  border-radius: 8px;
  font-weight: 600;
  background-color: #fff;
}

.load-more:hover {
  background-color: #f0f2f3;
}

.pagination {
  margin-top: 50px;
}

.pagination li {
  /* padding: 10px 15px; */
  border: 0;
  background-color: #f0f2f3;
  font-size: 14px;
  cursor: pointer;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
}

.pagination .selected {
  background-color: #58da58 !important;
  border-color: #58da58;
}

.pagination li a {
  display: block;
  color: #58da58;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.pagination .selected a {
  color: white;
}

.pagination .disabled {
  cursor: not-allowed;
}

.paginationContainer {
  padding-top: 50px;
}

@media (max-width: 991px) {
  .pagination {
    margin: 10px 0 30px;
  }
}
.andro_rating-wrapper {
  display: flex;
  align-items: center;
}

.andro_rating-wrapper > span {
  margin-left: 10px;
  color: #848486;
  font-size: 13px;
}

.andro_rating {
  margin-bottom: 5px;
}

.andro_rating svg {
  margin-right: 5px;
  font-size: 12px;
  color: #848486;
}

.andro_rating svg.active {
  color: #ffa80a;
}

.chat_banner {
  height: 100%;
}

.chat_banner .card {
  border: 1px solid #eee;
  border-radius: 6px;
  /* min-height: 300px; */
  height: 100%;
}

.chat_banner .card-header {
  background-color: #40a13d;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  /* border-radius: 6px 6px 0 0; */
  color: white;
  border: 1px solid #40a13d;
}

.chat_banner .card-footer {
  background-color: #fada5e;
  border: 1px solid #fada5e;
  color: #222;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.header_left_offers {
  background-color: #fada5e;
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.header_left_offers ul li {
  display: inline-block;
  margin: 0 10px;
  color: #222;
}

.header_left_offers ul li a {
  color: #222;
}

.header_left_offers ul li img {
  vertical-align: middle;
  margin: 0 3px;
}

.close-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.close-btn:focus {
  outline: none;
}

.close-btn span {
  position: absolute;
  width: 2px;
  height: 15px;
  display: block;
  background-color: #fff;
  opacity: 0.6;
  transform-origin: center;
  transform: rotate(45deg);
  transition: 0.3s;
}

.close-btn.close-dark span {
  background-color: #18181d;
}

.close-btn.close-danger span {
  background-color: red;
}

.close-btn span:nth-child(2) {
  transform: rotate(-45deg);
}

.close-btn:hover span {
  transform: rotate(90deg);
}

.close-btn:hover span:nth-child(2) {
  transform: rotate(-90deg);
}

.close-btn.dark span {
  background-color: #18181d;
}

.btn-link {
  color: #18181d;
  font-weight: 700;
}

.btn-link:hover {
  color: #40a13d;
}

.andro_btn-custom {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  background-color: #50bd4d;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 30px;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 25px;
  z-index: 1;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
}

.andro_btn-custom:hover,
.andro_btn-custom:focus {
  color: #fff;
  background-color: #40a13d;
  outline: none;
}

.andro_btn-custom.primary {
  background-color: #50bd4d;
}

.andro_btn-custom.primary:hover,
.andro_btn-custom.primary:focus {
  background-color: #40a13d;
}

.andro_btn-custom.light {
  background-color: #fff;
  color: #50bd4d;
}

.andro_btn-custom.light:hover,
.andro_btn-custom.light:focus {
  background-color: #f0f2f3;
}

.andro_btn-custom.secondary {
  background-color: #5d5d5d;
  color: #fff;
}

.andro_btn-custom.secondary:hover,
.andro_btn-custom.secondary:focus {
  background-color: #383838;
}

.andro_btn-custom.btn-sm {
  padding: 12px 16px;
  font-size: 13px;
}

.btn-group .andro_btn-custom:first-child {
  border-radius: 25px 0 0 25px;
}

.btn-group .andro_btn-custom + .andro_btn-custom {
  border-radius: 0 25px 25px 0;
  padding: 12px 14px;
}

.btn-group .andro_btn-custom.btn-sm + .andro_btn-custom.btn-sm {
  padding: 12px 16px;
}

.input-group-append .andro_btn-custom,
.input-group-append .andro_btn-custom::before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group .andro_btn-custom.dropdown-toggle.dropdown-toggle-split:hover::after {
  -webkit-animation-name: BounceUpDown;
          animation-name: BounceUpDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.btn-group.dropup .andro_btn-custom.dropdown-toggle.dropdown-toggle-split:hover::after {
  -webkit-animation-name: BounceDownUp;
          animation-name: BounceDownUp;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.navbar-nav .mega-menu-item .andro_btn-custom {
  display: inline-block;
  padding: 12px 30px;
  color: #fff;
}

.navbar-nav .mega-menu-item .andro_btn-custom:hover {
  color: #fff;
  background-color: #40a13d;
}

.andro_auth-form .andro_btn-custom {
  margin-top: 20px;
}

.andro_social-login-btn {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  white-space: nowrap;
  line-height: 24px;
  border: 0;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 3px;
  transition: 0.3s;
  border-radius: 25px;
}

.andro_social-login-btn i {
  margin-right: 5px;
}

.andro_newsletter-popup-modal .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.andro_newsletter-popup-modal .mc4wp-form-fields .btn-custom {
  width: 100%;
}

.andro_newsletter-popup-modal .andro_btn-custom + span {
  display: block;
  cursor: pointer;
  margin-top: 20px;
}

.andro_newsletter-popup-modal .andro_btn-custom + span:hover {
  text-decoration: underline;
}

.agri-btn-rounded {
  width: 80%;
  margin: 20px auto;
  height: 50px;
  background-color: #50bd49;
  border-radius: 50px !important;
  color: white;
  line-height: 50px;
  font-size: 18px;
  display: block;
  text-align: center;
}

.agri-btn-rounded:hover,
.agri-btn-rounded-dark:hover {
  color: white;
}

.agri-btn-rounded-dark {
  width: 200px;
  margin: 20px auto;
  height: 50px;
  background-color: #515151;
  border-radius: 0 !important;
  color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}

.home-banner {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.advertise {
  height: 20vh;
  width: 100vw;
}

.advertise img {
  width: 100vw;
}

.advertise-slider .slick-list {
  max-height: 20vh;
  margin-bottom: 20px;
}

.advertise-slider .slick-prev,
.advertise-slider .slick-next {
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  position: absolute;
  top: 30% !important;
}

.advertise-slider .advertise img {
  width: 100%;
  height: 100%;
}

.offer_banner {
  padding: 0;
  height: 100%;
  height: 100%;
  padding: 30px 10px;
}

.offer_banner img {
  min-height: 100px;
}

@media screen and (min-width: 700px) {
  .home-banner {
    height: 500px;
    position: relative;
  }
  .advertise-slider {
    height: 500px;
  }
  .advertise-slider .advertise {
    height: 500px;
    width: 100vw;
  }
  .advertise-slider .slick-list {
    max-height: initial;
  }
  .home-banner--content {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: -30%;
  }
}
.input-with-icon {
  position: relative;
}

.input-with-icon input,
.input-with-icon select {
  padding-left: 40px;
}

.input-with-icon i {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 18px;
  transform: translateY(-50%);
  color: #a5a5a5;
  transition: 0.3s;
}

.input-with-icon input:focus + i,
.input-with-icon select:focus + i {
  color: #454545;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #50bd49;
}

.custom-control label {
  line-height: 23px;
}

.andro_cart-product-wrapper {
  display: flex;
  align-items: center;
}

.andro_cart-product-wrapper img {
  width: 50px;
  margin-right: 15px;
}

.andro_cart-product-body {
  flex: 1;
}

.andro_cart-product-wrapper h6 {
  margin-bottom: 0;
  font-size: 14px;
}

.andro_cart-product-wrapper h6 a {
  color: #18181d;
}

.andro_cart-product-wrapper h6 a:hover {
  color: #50bd4d;
}

.andro_cart-product-wrapper p {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 21px;
  color: #848486;
}

@media (max-width: 768px) {
  .andro_responsive-table .cart-product-wrapper {
    flex-direction: row-reverse;
    padding: 0;
  }
  .andro_responsive-table .cart-product-wrapper img {
    margin-right: 0;
    margin-left: 10px;
  }
}
.slick-list {
  margin: 0 -15px;
}

.slick-slide {
  outline: none;
  margin: 0 15px;
}

.andro_banner .slick-track,
.andro_banner .slick-slide {
  margin: 0;
}

.slick-dots {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.slick-dots li {
  margin: 0 5px;
  text-align: center;
}

.slick-dots li button {
  font-size: 0;
  width: 12px !important;
  height: 12px !important;
  background-color: #f0f2f3;
  border: 0;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.slick-dots li.slick-active button {
  transform: scale(1.3);
  background-color: #5d5d5d;
}

.andro_banner .slick-dots {
  padding: 0 0 10px;
  display: block !important;
}

.andro_banner .slick-dots li button {
  background-color: #fff;
}

.andro_banner .slick-dots li button:before {
  display: none !important;
}

.andro_banner .slick-dots li.slick-active button {
  background-color: #50bd4d;
}

.andro_banner-slider .slick-track {
  padding: 10px 0;
}

.deals-slider .slick-dots {
  justify-content: center;
  margin: 10px 0 0;
}

.andro_testimonials .slick-dots {
  justify-content: center;
  margin: 10px 0 0;
}

.banner-2.andro_banner,
.banner-2.andro_banner .slick-track {
  padding: 0;
}

.banner-2.andro_banner .slick-track,
.banner-3.andro_banner .slick-track {
  display: flex;
}

.banner-2.andro_banner .slick-slide,
.banner-3.andro_banner .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f0f2f3;
  transition: 0.3s;
  cursor: pointer;
  color: #18181d;
}

.slick-arrow:hover {
  color: #fff;
  background-color: #50bd4d;
  box-shadow: 4px 3px 24px rgba(80, 189, 77, 0.5);
}

.slick-arrow.slider-prev {
  margin-right: 10px;
}

.slick-prev,
.slick-next {
  background-color: #f0f2f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #18181d;
  transition: 0.3s;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  top: 10%;
}

.slick-prev:hover,
.slick-next:hover {
  color: #fff;
  background-color: #5a635a;
  box-shadow: 4px 3px 24px rgba(80, 189, 77, 0.5);
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
  color: #fff;
}

@media (max-width: 991px) {
  .andro_grid-slider .slick-prev,
.andro_grid-slider .slick-next {
    display: none;
  }
  .banner-3 .slick-arrow {
    background-color: #fff;
  }
  .banner-3 .slick-arrow:hover {
    background-color: #50bd4d;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-nav .menu-item {
  margin: 0;
}

.header-nav > .menu-item > a {
  position: relative;
  padding: 0 10px;
  color: #fff;
  /* font-weight: 600; */
  display: block;
  font-size: 16px;
}

.header-nav > .menu-item > a:hover {
  color: #50bd4d;
}

.header-nav > .menu-item > a > .icon {
  margin-left: 5px;
}

.header-nav > .menu-item > a:hover > .icon {
  color: #fff;
}

.header-nav > .menu-item > a:hover > .icon:hover {
  color: #50bd4d;
}

.header-nav > .menu-item:first-child > a {
  padding-left: 10px;
}

.header-nav .menu-item-has-children {
  position: relative;
}

.andro_header-bottom .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: 0.3s;
  /* opacity: 0; */
  transform-style: preserve-3d;
  /* -webkit-transform: rotateX(-75deg); */
  /* transform: rotateX(-75deg); */
  transform-origin: 0% 0%;
  /* visibility: hidden; */
  z-index: 998;
  min-width: 230px;
  border: 1px solid #f0f2f3;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

.andro_header .sub-menu.sub-menu-left,
.andro_flex-menu .sub-menu.sub-menu-left {
  left: auto;
  right: 0;
}

/* .header-nav .menu-item-has-children:hover > .sub-menu,
.andro_flex-menu .menu-item-has-children:hover .sub-menu,
.andro_header .menu-item-has-children:hover .sub-menu {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
} */
.andro_header .sub-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #838383;
  font-weight: 400;
  border-bottom: 1px solid #f0f2f3;
  cursor: pointer;
}

.andro_header .sub-menu li:hover {
  background-color: #f0f2f3;
}

.andro_header .sub-menu .sub-menu {
  top: 0;
  left: 100%;
}

.andro_header .sub-menu .menu-item-has-children > a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f054";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1.7;
  margin-left: auto;
  font-size: 10px;
  transition: 0.3s;
  color: #838383;
}

.andro_header .sub-menu label:hover {
  background-color: #f0f2f3;
}

.footer {
  background-color: #f0f2f3;
  padding: 20px 0 0;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-middle a,
.footer-middle i {
  color: #515151;
}

.footer-middle a:hover {
  color: #50bd4d;
}

.footer ul li {
  display: inline-block !important;
  margin: 0 10px !important;
}

.footer-bottom ul {
  display: flex;
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.footer-bottom ul li {
  margin: 0;
}

.footer-bottom ul li a {
  padding-right: 20px;
  color: #515151;
}

.footer-bottom ul li a:hover {
  color: #50bd4d;
}

.footer-copyright {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copyright p {
  margin: 0;
}

.back-to-top {
  display: flex;
  align-items: center;
  color: #18181d;
  font-size: 14px;
  /* font-weight: 600; */
}

.back-to-top span {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4e4e4e;
  color: #fff;
  margin-left: 20px;
  transition: 0.3s;
  font-size: 18px;
}

.back-to-top:hover span {
  background-color: #50bd4d;
  color: #fff;
}

.footer-widget {
  padding-bottom: 50px;
}

.widget-title {
  margin-bottom: 20px;
  /* font-weight: 700; */
}

.footer-logo {
  width: 180px;
}

.footer-widget ul {
  margin: 0;
}

.footer-widget ul li + li {
  margin: 10px 0 0;
}

.footer-widget ul li a {
  position: relative;
  display: block;
  transform: translateX(-15px);
}

.footer-widget ul li a:hover {
  transform: translateX(0);
}

.footer-widget ul li a:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.footer-widget .social-media li {
  display: inline-block;
  margin-top: 0;
}

.footer-widget .social-media li a {
  display: flex;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  border: 0;
  color: #fff;
  transform: translateX(0);
  align-items: center;
  justify-content: center;
}

.footer-widget .social-media li a::before {
  display: none;
}

.footer-widget .social-media li a i {
  color: #fff;
  transition: 0.3s;
}

.footer-widget .social-media li a:hover i {
  color: #fff;
}

.footer-offer {
  margin-top: 15px;
}

.footer-offer p {
  /* font-weight: 600; */
  font-size: 13px;
  margin-bottom: 15px;
}

.footer-offer .btn-custom,
.footer-offer .btn-custom:hover {
  color: #fff;
}

/* Dark Footer */
.andro_footer.andro_footer-dark {
  background-color: #18181d;
}

.footer.footer-dark p,
.footer.footer-dark .footer-widget ul li a::before,
.footer.footer-dark .footer-bottom ul li a:hover,
.footer.footer-dark .footer-widget ul li a:hover,
.footer.footer-dark .footer-bottom .footer-copyright > a,
.footer.footer-dark .footer-widget .widget-title {
  color: #fff;
}

.footer.footer-dark .footer-bottom ul li a,
.footer.footer-dark .footer-widget ul li a {
  color: #b7b7b7;
}

.footer.footer-dark .footer-bottom ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.registeration-progress {
  background-color: #f0f2f3;
  padding: 5px;
}

.registeration-progress li {
  text-align: center;
}

.step-wrapper {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: 50%;
  background-color: #a8a8a8;
}

.step-done-wrapper {
  background: green;
}

.step-number {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
}

/* ////////////////////////// */
.titleBar {
  height: 3px;
  background-color: #f0f2f3;
}

.titleBar .col.active {
  background-color: green;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  li:not(:last-of-type) .step-wrapper::after {
    content: "";
    display: block;
    position: relative;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 12vw;
    background-color: #a8a8a8;
  }
  li:not(:last-of-type) .step-wrapper.step-done-wrapper::after {
    background: green;
  }
  .step-wrapper {
    height: 3rem;
    width: 3rem;
  }
  .step-number {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */