.home-banner {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.advertise {
  height: 20vh;
  width: 100vw;
}

.advertise-slider .slick-list {
  max-height: 20vh;
  margin-bottom: 20px;
}

.advertise-slider .slick-prev,
.advertise-slider .slick-next {
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  position: absolute;
  top: 50% !important;
  transform: translateY(-50%);
}

.advertise-slider .advertise img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  .home-banner {
    height: 500px;
    position: relative;
  }
  .advertise-slider {
    height: 500px;
  }
  .advertise-slider .advertise {
    height: 500px;
    width: 100vw;
  }
  .advertise-slider .slick-list {
    max-height: initial;
  }
  .home-banner--content {
    position: absolute;
    width: 100%;
    z-index: 2;
    bottom: 10px;
  }
}
.slick-list {
  margin: 0 -15px;
}

.slick-slide {
  outline: none;
  margin: 0 15px;
}

.andro_banner .slick-track,
.andro_banner .slick-slide {
  margin: 0;
}

.slick-dots {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.slick-dots li {
  margin: 0 5px;
  text-align: center;
}

.slick-dots li button {
  font-size: 0;
  width: 12px !important;
  height: 12px !important;
  background-color: #f0f2f3;
  border: 0;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
}

.slick-dots li.slick-active button {
  transform: scale(1.3);
  background-color: #5d5d5d;
}

.andro_banner .slick-dots {
  padding: 0 0 10px;
  display: block !important;
}

.andro_banner .slick-dots li button {
  background-color: #fff;
}

.andro_banner .slick-dots li button:before {
  display: none !important;
}

.andro_banner .slick-dots li.slick-active button {
  background-color: #50bd4d;
}

.andro_banner-slider .slick-track {
  padding: 10px 0;
}

.deals-slider .slick-dots {
  justify-content: center;
  margin: 10px 0 0;
}

.andro_testimonials .slick-dots {
  justify-content: center;
  margin: 10px 0 0;
}

.banner-2.andro_banner,
.banner-2.andro_banner .slick-track {
  padding: 0;
}

.banner-2.andro_banner .slick-track,
.banner-3.andro_banner .slick-track {
  display: flex;
}

.banner-2.andro_banner .slick-slide,
.banner-3.andro_banner .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f0f2f3;
  transition: 0.3s;
  cursor: pointer;
  color: #18181d;
}

.slick-arrow:hover {
  color: #fff;
  background-color: #50bd4d;
  box-shadow: 4px 3px 24px rgba(80, 189, 77, 0.5);
}

.slick-arrow.slider-prev {
  margin-right: 10px;
}

.slick-prev,
.slick-next {
  background-color: #f0f2f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #18181d;
  transition: 0.3s;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  top: 10%;
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #fff;
  background-color: #50bd4d;
  box-shadow: 4px 3px 24px rgba(80, 189, 77, 0.5);
}

.slick-prev:hover::before,
.slick-prev:focus::before,
.slick-next:hover::before,
.slick-next:focus::before {
  color: #fff;
}

@media (max-width: 991px) {
  .andro_grid-slider .slick-prev,
.andro_grid-slider .slick-next {
    display: none;
  }
  .banner-3 .slick-arrow {
    background-color: #fff;
  }
  .banner-3 .slick-arrow:hover {
    background-color: #50bd4d;
  }
}
.registeration-progress {
  background-color: #f0f2f3;
  padding: 5px;
}

.registeration-progress li {
  text-align: center;
}

.step-wrapper {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: 50%;
  background-color: #a8a8a8;
}

.step-done-wrapper {
  background: green;
}

.step-number {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
}

/* ////////////////////////// */
.titleBar {
  height: 3px;
  background-color: #f0f2f3;
}

.titleBar .col.active {
  background-color: green;
}

.cursor-pointer {
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  li:not(:last-of-type) .step-wrapper::after {
    content: "";
    display: block;
    position: relative;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 12vw;
    background-color: #a8a8a8;
  }
  li:not(:last-of-type) .step-wrapper.step-done-wrapper::after {
    background: green;
  }
  .step-wrapper {
    height: 3rem;
    width: 3rem;
  }
  .step-number {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */