:root {
  font-size: 12px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.fs-500 {
  font-size: 0.5rem;
}
.fs-600 {
  font-size: 0.6rem;
}
.fs-700 {
  font-size: 0.7rem;
}
.fs-800 {
  font-size: 0.8rem;
}
.fs-900 {
  font-size: 0.9rem;
}

.sec_title {
}
