:root {
  font-size: 12px;
  font-family: "Montserrat", serif;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

// @font-face {
//   font-family: "Pacifico";
//   font-style: normal;
//   font-weight: 400;
//   src: local("Pacifico Regular"), local("Pacifico-Regular"),
//     url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format("woff2");
//   font-display: swap;
// }

h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
.fs-500 {
  font-size: 0.5rem;
}
.fs-600 {
  font-size: 0.6rem;
}
.fs-700 {
  font-size: 0.7rem;
}
.fs-800 {
  font-size: 0.8rem;
}
.fs-900 {
  font-size: 0.9rem;
}

.decorated_title {
  position: relative;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 25px;
  border-bottom: 3px solid #f0f2f3;
}
.decorated_title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #50bd4d;
}
