.uom_select {
  margin: 10px 0;
}

.product_single--info {
  // width: 30vw;
}

@media screen and (min-width: 768px) {
  .product_single--info.Sticky {
    position: fixed;
    top: 0;
    width: 30vw;
    height: 500px;
  }
}
