.product_single--carousel {
  position: relative;
  border-right: 1px solid #ddd;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .product_single--info.Sticky {
    position: fixed;
    top: 0;
    width: 41vw;
    // transition: 3s;
    height: 60vh;
    background-color: #ccc;
    // z-index: 5;
  }
  .product_single--info.Sticky.stop {
    position: absolute;
    top: initial;
    bottom: 0;
    width: 41vw;
    // transition: 3s;
  }
}
.productInfoInput{
  margin: 30px 0;
 
}

.product_single--info{
  background-color: #f7f7f7;
  border-radius: 6px;
  padding: 10px 10px 20px 10px;
  margin: 20px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}