.andro_dots {
  width: 100%;
  height: 100%;
  content: "";
  background-position: 0 0, 6px 6px;
  background-size: 12px 12px;
  position: absolute;
  display: block;
  background-image: -o-radial-gradient(#d1d4d8 1px, transparent 1px),
    -o-radial-gradient(#d1d4d8 1px, transparent 1px);
  background-image: radial-gradient(#d1d4d8 1px, transparent 1px),
    radial-gradient(#d1d4d8 1px, transparent 1px);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: transparent;
  top: -17px;
  left: 17px;
  opacity: 1;
  z-index: -1;
}

/* Mobile sidenav */
/* 
.andro_aside {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transition: 0.3s;
  overflow: auto;
} */
.andro_aside-overlay.aside-trigger-left,
.andro_aside.andro_aside-left {
  display: none;
}
/* .andro_aside.andro_aside-right {
  left: auto;
  right: -400px;
  padding: 30px;
  width: 400px;
} */
/* .andro_aside.andro_aside-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/img/products/14.png");
  opacity: 0.3;
  z-index: -1;
  background-position: 0 130%;
  background-repeat: no-repeat;
} */
/* .andro_aside.andro_aside-right .sidebar {
  display: none;
} */
/* .andro_aside.open {
  left: 0;
} */
/* .andro_aside.andro_aside-right.open {
  left: auto;
  right: 0;
} */
/* .andro_aside.open + .andro_aside-overlay {
  opacity: 1;
  visibility: visible;
} */
/* .andro_aside-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
} */
/* .andro_aside ul {
  margin: 0;
}
.andro_aside ul .menu-item {
  margin: 0;
}
.andro_aside ul .menu-item a {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #18181d;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.andro_aside ul .menu-item a:hover,
.andro_aside ul .menu-item a.active {
  color: #50bd4d;
} */
/* .andro_aside ul .menu-item.menu-item-has-children > a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1.7;
  margin-left: auto;
}
.andro_aside ul .menu-item .sub-menu {
  display: none;
  background-color: #f0f2f3;
}
.andro_aside .navbar-brand {
  padding: 10px 15px;
  display: block;
  width: 200px;
  margin: 0;
} */

/* .andro_aside.andro_aside-right .sidebar-widget .widget-title {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.andro_aside.andro_aside-right .sidebar-widget.widget-categories-icons + .sidebar-widget {
  margin-top: 0;
}
.andro_aside.andro_aside-right .sidebar-widget .widget-title::after {
  display: none;
} */

/* -- Aside trigger Hover sequence -- */

/*======================
3. Footer
========================*/
/*======================
6. Components
========================*/

/* 6.3.4. Cart & Wishlist */

/* 6.5. Banners */

/* 6.7. Call to Actions */

/*======================
8. Repsonsive
========================*/

@media (max-width: 991px) {
  .checkout-billing {
    margin-top: 40px;
  }

  .navbar-brand {
    width: 150px;
  }

  .main_header-bottom,
  .main_header-bottom .navbar-nav,
  .main_header-middle .navbar-nav,
  .main_header .andro_search-adv {
    display: none;
  }
  .main_header.header-2 .main_header-middle .navbar {
    padding: 5px 0;
  }
  .aside-toggler {
    display: block;
  }
  .andro_aside-overlay.aside-trigger-left,
  .andro_aside.andro_aside-left {
    display: block;
  }
  .andro_post-single .andro_post-share {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .andro_category-mm {
    margin-bottom: 30px;
  }
  .andro_category-mm-body .andro_category-mm-item.andro_category-mm-item-expand > ul {
    height: auto;
  }
  .andro_category-mm-body > ul > li > ul {
    top: 100%;
    left: 0;
  }
  .andro_category-mm-body > ul > li:hover > ul {
    left: 0;
  }
  .andro_category-mm-body > ul > li > ul > li img {
    border-radius: 0;
  }
  .sidebar {
    margin-top: 10px;
  }
  .sidebar .sidebar-widget:last-child {
    margin-bottom: 40px;
  }

  .andro_footer {
    padding: 40px 0 0 0;
  }
  .andro_footer-top {
    margin-bottom: 40px;
  }
  .footer-widget {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .andro_banner {
    padding: 15px;
    text-align: center !important;
  }
  .andro_responsive-table thead {
    display: none;
  }
  .andro_responsive-table td {
    position: relative;
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px;
    border-bottom: 0;
  }
  .andro_responsive-table tr.total td::before {
    display: none;
  }
  .andro_responsive-table tr.total td:first-child {
    border-top: 0;
    border-right: 0;
  }
  .andro_responsive-table tr.total td:last-child {
    border-left: 0;
    border-top: 0;
  }
  .andro_responsive-table tr.total td:nth-child(2) {
    display: none;
  }
  .andro_responsive-table tr.total td {
    width: auto;
    text-align: left;
  }
  .andro_responsive-table tr.total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .andro_responsive-table td::before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: left;
  }
  .andro_responsive-table td.remove::before {
    display: none;
  }
  .andro_responsive-table tr {
    border-bottom: 1px solid #f0f2f3;
  }

  .andro_quick-view-modal .andro_product-single-content {
    padding: 0;
  }
  .andro_quick-view-modal img {
    margin-bottom: 30px;
  }

  .footer-widget {
    text-align: center;
  }
  .andro_footer .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .andro_footer-buttons a {
    margin-bottom: 5px;
  }
  .footer-widget ul li a {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  .footer-widget ul li a::before {
    display: none;
  }
  .andro_footer-top {
    display: block;
    text-align: center;
  }
  .andro_footer-logo {
    margin: 0 auto 20px;
  }
  .andro_footer-bottom ul {
    display: block;
    text-align: center;
  }
  .andro_footer-bottom ul li + li {
    margin-top: 10px;
  }
  .andro_footer-bottom .andro_footer-copyright {
    display: block;
    text-align: center;
  }
  .andro_footer-bottom .andro_footer-copyright > a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .andro_subheader-inner {
    display: block;
  }
  .andro_subheader .breadcrumb {
    margin-top: 20px;
  }
  .andro_newsletter-popup-modal .modal-header {
    height: auto;
  }
}

@media (max-width: 575px) {
  .main_header.header-2 .main_header-middle .navbar {
    padding: 10px 0;
  }

  .qty input {
    width: 100%;
  }
  .andro_product.andro_product-list {
    display: block;
  }
  .andro_product.andro_product-list .andro_product-thumb {
    width: auto;
    margin-right: 0;
  }
  .andro_cta-notice {
    padding: 20px;
  }
}

.andro_fresh-arrivals-slider {
  height: 400px;
  overflow: hidden;
}

.andro_back-to-top svg {
  animation: pointy 1.5s infinite;
}
