.andro_banner {
  padding: 5px 40px 18px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
}
.andro_banner .card {
  height: 100%;
}

.andro_banner p:first-child {
  margin-bottom: 10px;
}
.andro_banner p {
  margin-bottom: 20px;
}
