.category_card {
  margin: 20px;
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 3px 24px rgb(0 0 0/4%);
  border-radius: 8px;
  text-align: center !important;
}

.category_card--thumb {
  height: 200px;
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}
