@use "../../abstracts/variables";

.product_offers {
  padding: 10px;
  // width: 100%;
  border-radius: 10px;
  background-color: #04ff042b;
  margin: 20px 0;
  .gift_row{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    &:last-child{
      border-bottom: 0;
    }
  }
}
