.andro_dots {
  width: 100%;
  height: 100%;
  content: "";
  background-position: 0 0, 6px 6px;
  background-size: 12px 12px;
  position: absolute;
  display: block;
  background-image: -o-radial-gradient(#d1d4d8 1px, transparent 1px),
    -o-radial-gradient(#d1d4d8 1px, transparent 1px);
  background-image: radial-gradient(#d1d4d8 1px, transparent 1px),
    radial-gradient(#d1d4d8 1px, transparent 1px);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: transparent;
  top: -17px;
  left: 17px;
  opacity: 1;
  z-index: -1;
}

.pattern-bg {
  position: relative;
  z-index: 1;
  background-image: url("../public/img/banner_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.pattern-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: -1;
}

/*======================
2. Header
========================*/

/* Mobile sidenav */
.aside-toggler {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}
.aside-toggler.desktop-toggler {
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  background-color: #50bd4d;
  transition: 0.3s;
}
.aside-toggler.desktop-toggler span {
  background-color: #fff;
}
.aside-toggler.desktop-toggler:hover {
  background-color: #40a13d;
}
.aside-toggler span {
  display: block;
}
.main_header-middle {
  background-color: #fff;
  padding: 0 10px;
}
.main_header-middle .navbar {
  padding: 0;
  height: 60px;
}
.navbar-brand {
  padding: 10px 0;
  width: 170px;
  display: block;
}

.main_header-bottom {
  max-height: 40px;
  background-color: #5d5d5d;
  padding: 0 0 0 10px;
}
.main_header-bottom-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
}
.navbar-nav,
.main_header-middle .navbar-nav {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-nav .menu-item,
.main_header-middle .navbar-nav .menu-item {
  margin: 0;
}
.navbar-nav > .menu-item > a,
.main_header-middle .navbar > .navbar-nav > .menu-item > a {
  position: relative;
  padding: 0 10px;
  color: #fff;
  /* font-weight: 600; */
  display: block;
  /* font-size: 16px; */
}
.main_header-middle .navbar > .navbar-nav > .menu-item > a {
  color: #18181d;
  padding: 30px 20px;
}
.navbar-nav > .menu-item > a:hover,
.main_header-middle .navbar > .navbar-nav > .menu-item > a:hover {
  color: #50bd4d;
}
.navbar-nav > .menu-item:first-child > a,
.main_header-middle .navbar > .navbar-nav > .menu-item:first-child > a {
  padding-left: 0;
}

.andro_search-adv form {
  display: flex;
}
.andro_search-adv-cats {
  position: relative;
  background-color: #f0f2f3;
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25%;
  font-size: 13px;
}
.andro_search-adv-cats a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #848486;
  padding-left: 10px;
  line-height: 40px;
  /* margin: 10px auto; */

  /* direction: rtl; */
  display: block;
}
.andro_search-adv-cats a:hover {
  color: #fff;
  background-color: #848486;
}

.andro_search-adv-cats label input:checked + i {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.andro_search-adv-cats > span {
  color: #18181d;
}
.andro_search-adv-cats > span .svg {
  color: #18181d;
}
.andro_search-adv-input .form-control {
  border-radius: 0 25px 25px 0;
  height: 40px;
}

.andro_search-adv {
  flex: 2;
  margin: 0 10px;
}
.andro_search-adv-input {
  position: relative;
  width: 100%;
}
.andro_search-adv-input button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 40px;
  /* background-color: #fada5e; */
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #838383;
  transition: 0.3s;
  border-left: 1px solid #f0f2f3;
}
.andro_search-adv-input button:hover {
  background-color: #f0f2f3;
}

.andro_search-adv-cats .sub-menu li,
.andro_search-adv-cats .sub-menu {
  margin: 0;
}

/* Mobile sidenav */
.aside-toggler {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}
.aside-toggler.desktop-toggler {
  display: flex;
  height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  background-color: #50bd4d;
  transition: 0.3s;
}
.aside-toggler.desktop-toggler span {
  background-color: #fff;
}
.aside-toggler.desktop-toggler:hover {
  background-color: #40a13d;
}
.aside-toggler span {
  display: block;
  margin-bottom: 4px;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background-color: #18181d;
  transition: 0.3s;
  transform-origin: right;
}
.aside-toggler span:nth-child(3) {
  margin-bottom: 0;
}
.andro_aside {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transition: 0.3s;
  overflow: auto;
}
.andro_aside-overlay.aside-trigger-left,
.andro_aside.andro_aside-left {
  display: none;
}
.andro_aside.andro_aside-right {
  left: auto;
  right: -400px;
  padding: 30px;
  width: 400px;
}
.andro_aside.andro_aside-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/img/products/14.png");
  opacity: 0.3;
  z-index: -1;
  background-position: 0 130%;
  background-repeat: no-repeat;
}
.andro_aside.andro_aside-right .sidebar {
  display: none;
}
.andro_aside.open {
  left: 0;
}
.andro_aside.andro_aside-right.open {
  left: auto;
  right: 0;
}
.andro_aside.open + .andro_aside-overlay {
  opacity: 1;
  visibility: visible;
}
.andro_aside-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}
.andro_aside ul {
  margin: 0;
}
.andro_aside ul .menu-item {
  margin: 0;
}
.andro_aside ul .menu-item a {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #18181d;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.andro_aside ul .menu-item a:hover,
.andro_aside ul .menu-item a.active {
  color: #50bd4d;
}
.andro_aside ul .menu-item.menu-item-has-children > a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1.7;
  margin-left: auto;
  /* font-size: 10px; */
}
.andro_aside ul .menu-item .sub-menu {
  display: none;
  background-color: #f0f2f3;
}
.andro_aside .navbar-brand {
  padding: 10px 15px;
  display: block;
  width: 200px;
  margin: 0;
}

.andro_aside.andro_aside-right .sidebar-widget .widget-title {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  /* font-size: 18px; */
}
.andro_aside.andro_aside-right .sidebar-widget.widget-categories-icons + .sidebar-widget {
  margin-top: 0;
}
.andro_aside.andro_aside-right .sidebar-widget .widget-title::after {
  display: none;
}

/* -- Aside trigger Hover sequence -- */
.aside-toggler:hover span {
  margin: 0;
}
.aside-toggler:hover span:nth-child(1) {
  width: 10px;
  transform: rotate(45deg) translate(7px, -3px);
}
.aside-toggler:hover span:nth-child(3) {
  width: 10px;
  transform: rotate(-45deg) translate(7px, 3px);
}

/*======================
3. Footer
========================*/

/*======================
5. Subheader
========================*/
.andro_subheader {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.andro_subheader-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}
.andro_subheader h1 {
  line-height: 1.5;
  margin: 0;
  color: #fff;
}
.andro_subheader .breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.andro_subheader .breadcrumb li {
  margin: 0;
  color: #f1f1f1;
}
.andro_subheader .breadcrumb li a {
  color: #f1f1f1;
  font-weight: 700;
}
.andro_subheader .breadcrumb li a:hover {
  color: #fff;
}
.andro_subheader .breadcrumb .breadcrumb-item.active {
  color: #fff;
}
.andro_subheader .breadcrumb-item + .breadcrumb-item::before {
  color: #f1f1f1;
  /* font-family: "Font Awesome 5 Free"; */
  content: ">";
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1.7;
  margin-left: auto;
  /* font-size: 15px; */
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*======================
6. Components
========================*/

.tags a,
.tagcloud a,
.entry-content .wp-block-tag-cloud a {
  display: inline-block;
  padding: 3px 12px;
  color: #848486;
  border: 1px solid #f0f2f3;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  margin: 6px 6px 0 0;
  border-radius: 8px;
}
.tags a:hover,
.tagcloud a:hover,
.entry-content .wp-block-tag-cloud a:hover {
  background-color: #f5f5f5;
  border-color: rgba(0, 0, 0, 0.1);
  color: #848486;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.qty input {
  background-color: #fff;
  border: 0;
  outline: none;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #f0f2f3;
}
.qty span.qty-subtract {
  border-right: 0;
  border-radius: 25px 0 0 25px;
}
.qty span.qty-add {
  border-left: 0;
  border-radius: 0 25px 25px 0;
}
.qty span:hover {
  background-color: #f0f2f3;
}
.qty span {
  cursor: pointer;
  width: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #f0f2f3;
  background-color: #fff;
  transition: 0.3s;
}

/* 6.3.4. Cart & Wishlist */
td.remove {
  width: 30px;
}

/* 6.5. Banners */
.andro_banner {
  padding: 18px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
}
.andro_banner .card {
  height: 100%;
}

.andro_banner p:first-child {
  margin-bottom: 10px;
}
.andro_banner p {
  margin-bottom: 20px;
}

/* 6.7. Call to Actions */
.andro_cta-notice {
  padding: 40px;
  border-radius: 8px;
}
.andro_cta-notice-inner {
  max-width: 600px;
}
.andro_cta-notice-inner p {
  margin-bottom: 25px;
}

.andro_cta {
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}
.andro_cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  transition: 0.3s;
}
.andro_cta:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}
.andro_cta img {
  border-radius: 8px;
  width: 100%;
}

.andro_cta-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
}
.andro_cta-content h4 {
  margin-bottom: 10px;
}
.andro_cta-content p {
  margin-bottom: 30px;
  max-width: 350px;
}

/*======================
8. Repsonsive
========================*/

@media (max-width: 991px) {
  .checkout-billing {
    margin-top: 40px;
  }

  .navbar-brand {
    width: 150px;
  }

  .main_header-bottom,
  .main_header-bottom .navbar-nav,
  .main_header-middle .navbar-nav,
  .main_header .andro_search-adv {
    display: none;
  }
  .main_header.header-2 .main_header-middle .navbar {
    padding: 5px 0;
  }
  .aside-toggler {
    display: block;
  }
  .andro_aside-overlay.aside-trigger-left,
  .andro_aside.andro_aside-left {
    display: block;
  }
  .andro_post-single .andro_post-share {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .andro_category-mm {
    margin-bottom: 30px;
  }
  .andro_category-mm-body .andro_category-mm-item.andro_category-mm-item-expand > ul {
    height: auto;
  }
  .andro_category-mm-body > ul > li > ul {
    top: 100%;
    left: 0;
  }
  .andro_category-mm-body > ul > li:hover > ul {
    left: 0;
  }
  .andro_category-mm-body > ul > li > ul > li img {
    border-radius: 0;
  }
  .sidebar {
    margin-top: 10px;
  }
  .sidebar .sidebar-widget:last-child {
    margin-bottom: 40px;
  }

  .andro_footer {
    padding: 40px 0 0 0;
  }
  .andro_footer-top {
    margin-bottom: 40px;
  }
  .footer-widget {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .andro_banner {
    padding: 15px;
    text-align: center !important;
  }
  .andro_responsive-table thead {
    display: none;
  }
  .andro_responsive-table td {
    position: relative;
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px;
    border-bottom: 0;
  }
  .andro_responsive-table tr.total td::before {
    display: none;
  }
  .andro_responsive-table tr.total td:first-child {
    border-top: 0;
    border-right: 0;
  }
  .andro_responsive-table tr.total td:last-child {
    border-left: 0;
    border-top: 0;
  }
  .andro_responsive-table tr.total td:nth-child(2) {
    display: none;
  }
  .andro_responsive-table tr.total td {
    width: auto;
    text-align: left;
  }
  .andro_responsive-table tr.total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .andro_responsive-table td::before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: left;
  }
  .andro_responsive-table td.remove::before {
    display: none;
  }
  .andro_responsive-table tr {
    border-bottom: 1px solid #f0f2f3;
  }

  .andro_quick-view-modal .andro_product-single-content {
    padding: 0;
  }
  .andro_quick-view-modal img {
    margin-bottom: 30px;
  }

  .footer-widget {
    text-align: center;
  }
  .andro_footer .social-media {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .andro_footer-buttons a {
    margin-bottom: 5px;
  }
  .footer-widget ul li a {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }
  .footer-widget ul li a::before {
    display: none;
  }
  .andro_footer-top {
    display: block;
    text-align: center;
  }
  .andro_footer-logo {
    margin: 0 auto 20px;
  }
  .andro_footer-bottom ul {
    display: block;
    text-align: center;
  }
  .andro_footer-bottom ul li + li {
    margin-top: 10px;
  }
  .andro_footer-bottom .andro_footer-copyright {
    display: block;
    text-align: center;
  }
  .andro_footer-bottom .andro_footer-copyright > a {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
  }

  .andro_subheader-inner {
    display: block;
  }
  .andro_subheader .breadcrumb {
    margin-top: 20px;
  }
  .andro_newsletter-popup-modal .modal-header {
    height: auto;
  }
}

@media (max-width: 575px) {
  .main_header.header-2 .main_header-middle .navbar {
    padding: 10px 0;
  }

  .qty input {
    width: 100%;
  }
  .andro_product.andro_product-list {
    display: block;
  }
  .andro_product.andro_product-list .andro_product-thumb {
    width: auto;
    margin-right: 0;
  }
  .andro_cta-notice {
    padding: 20px;
  }
}

.andro_fresh-arrivals-slider {
  height: 400px;
  overflow: hidden;
}

.andro_back-to-top svg {
  animation: pointy 1.5s infinite;
}

@keyframes pointy {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(0px, -10px);
  }
  30% {
    transform: translate(0px, -5px);
  }
  45% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

/* home updates */
.carousel_bg {
  margin-bottom: 12%;
  padding: 0;
}
.dynamic_content {
  margin-top: -25%;
}
@media (max-width: 991px) {
  .andro_fresh-arrivals .slick-track {
    width: 9000px !important;
    height: auto !important;
  }
  .andro_fresh-arrivals .slick-list {
    height: auto !important;
  }
  .andro_fresh-arrivals-slider {
    height: auto;
    overflow: hidden;
  }
}
